@{
    ViewData["Title"] = "RabbitMQ_Tool";
    var rabbitObj = ViewBag.RabbitObj as KevDevTools.Models.RabbitMQ.RabbitMQ_ConnectionObj;
}

<h1>Set connection to RabbitMQ service</h1>
@if (rabbitObj.Connected == false)
{
    <div data-mdb-alert-init class="alert mt-4" role="alert" data-mdb-color="danger">
        Not connected
    </div>
}
else
{
    <div data-mdb-alert-init class="alert mt-4" role="alert" data-mdb-color="success">
        Connected
    </div>
}
<form asp-controller="RabbitMQ" asp-action="ConnectToRabbitService">
    <div class="row mt-4">
        <div class="col-6">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" class="form-control" asp-for="@rabbitObj.HostName" required disabled="@rabbitObj.Connected" />
                <label class="form-label">HostName</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" class="form-control" asp-for="@rabbitObj.UserName" required disabled="@rabbitObj.Connected" />
                <label class="form-label">UserName</label>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" class="form-control" asp-for="@rabbitObj.Password" required disabled="@rabbitObj.Connected" />
                <label class="form-label">Password</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" class="form-control" asp-for="@rabbitObj.VirtualHost" disabled="@rabbitObj.Connected" />
                <label class="form-label">VirtualHost</label>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6">
            <div class="form-outline" data-mdb-input-init>
                <input type="number" class="form-control" asp-for="@rabbitObj.Port" required disabled="@rabbitObj.Connected" />
                <label class="form-label">Port</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-outline" data-mdb-input-init>
                <input type="text" class="form-control" asp-for="@rabbitObj.QueueName" required disabled="@rabbitObj.Connected" />
                <label class="form-label">QueName</label>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6">
            <select data-mdb-select-init asp-for="@rabbitObj.Durable" disabled="@rabbitObj.Connected">
                <option value="0">False</option>
                <option value="1">True</option>
            </select>
            <label class="form-label select-label">Durable</label>
        </div>
        <div class="col-6">
            <select data-mdb-select-init asp-for="@rabbitObj.Exclusive" disabled="@rabbitObj.Connected">
                <option value="0">False</option>
                <option value="1">True</option>
            </select>
            <label class="form-label select-label">Exclusive</label>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6">
            <select data-mdb-select-init asp-for="@rabbitObj.AutoDelete" disabled="@rabbitObj.Connected">
                <option value="0">False</option>
                <option value="1">True</option>
            </select>
            <label class="form-label select-label">AutoDelete</label>
        </div>
        <div class="col-6">
            <select data-mdb-select-init disabled>
                <option value="0">False</option>
                <option value="1">True</option>
            </select>
            <label class="form-label select-label">Arguments</label>
        </div>
    </div>
    @if (rabbitObj.Connected)
    {
        <a type="button" class="btn btn-danger mt-4" asp-controller="RabbitMQ" asp-action="CloseRabbitConnection">Disconnect</a>
    }
    else
    {
        <button type="submit" class="btn btn-primary mt-4" data-mdb-ripple-init disabled="@rabbitObj.Connected">Connect</button>
    }
</form>

@if(rabbitObj.Connected == true)
{
    <h1>Send message to RabbitMQ</h1>
    <form asp-controller="RabbitMQ" asp-action="SendMessageToRabbitMQ">
        <div class="row mt-4">
            <div class="col-6">
                <div class="form-outline" data-mdb-input-init>
                    <input type="text" class="form-control" name="message" required />
                    <label class="form-label">Message</label>
                </div>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary mt-4" data-mdb-ripple-init>Send</button>
            </div>
        </div>
    </form>

    <h1>Receive message from RabbitMQ</h1>
    <a type="button" asp-controller="RabbitMQ" asp-action="ReceiveMessages" class="btn btn-primary mt-4" data-mdb-ripple-init>Receive</a>
    <div id="messagesList">
            <div class="row mt-4">
                <div class="col-6">
                    <div class="form-outline" data-mdb-input-init>
                        <input type="text" class="form-control" value="Testtext" disabled />
                        <label class="form-label">Message</label>
                    </div>
                </div>
            </div>
    </div>
}


@section Scripts {
    <script src="~/js/signalR/ViewCount.js"></script>
}
